* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif !important;
}

@media only screen and (max-height: 400px){
	section	{
		background-color: blue !important;
	}
}

body {
	width: 98.44vw;
	background-color: white !important;
}

.navbar, #quickcontact, #carousellabel, #aboutme, #cardttext {
	font-family: 'Poppins', sans-serif;
}

nav {
	border-bottom: 1px solid red;
	height: 11vh;
}


.navbar-expand-lg {
	justify-content: space-between !important;
}

.navbar-nav li:hover>.dropdown-menu {
	display: block;
}

#quickcontact {
	border: 3px solid transparent;
	font-size: 1rem;
}

#quickcontact:hover {
	background-color: #f7f7f7 !important;
	border-bottom: 3px solid red;
}

#quickcontact.active {
	background-color: #f7f7f7 !important;
  	border-bottom: 3px solid red;
}

#indimenu {
 	overflow: hidden;
}

#quickcontact a{
	text-decoration: none;
}

#indimenu {
	display: block;
	text-align: center;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	font-size: 1rem;
}

#indimenu:hover {
	border-bottom: 3px solid red;
}

#indimenu.active {
	border-bottom: 3px solid red;
}

#letstalkicon:hover {
	background-color: #787878;
	color: #e02828;
}

#letstalkicon.active {
	background-color: #787878;
	color: #e02828;
}


#homepage{
	background-color: #bbbbbb !important;
	border-bottom: 1px solid red;
	height: 85vh !important;
}

#main-carousel{
/*	width: 98.44vw !important;*/
	height: 47vh !important;
	padding: 0 !important;
	padding-top: 3rem !important;
	justify-content: center !important;
	text-align: center;
	background-color: #bbbbbb !important;
}


}

#carousellabel {
	font-size: 1.5rem;
}

#aboutme {
	height: 160vh !important;
}

#am-work div{
	height: 50vh !important;
}

#workdetails	{
	height: 100vh !important;

}

#headingOne, #headingOne button {
	background-color: #ff0000 !important;
	font-weight: bolder !important;
	color: white !important;

}

#headingTwo button, #headingThree button, #headingFour button, #headingTwo, #headingThree, #headingFour {
	background-color: #D6D2cc !important;
	font-weight: bolder !important;
	color: black !important;

}

#workdetails .card-header {
/*	background-color: #bbbbbb !important;*/
}

#workdetails button {
	font-size: 1.25rem !important;
}

#workdetails .card-body {
	height: 30vh;
}


#aboutmegen, #myskillshead, #letstalkhead {
	font-size: 6vh;
	padding-left: 2rem;
}

#myskills {
	background-color: #bbbbbb !important;
	margin: 0 !important;
	height: 105vh !important;
}

#myskillsmain{
	height: 90vh !important;
	justify-content: center !important;
	text-align: center;
	background-color: #bbbbbb !important;
}

#skillsacquisition {
	height: 37vh;

}

#skillsacquiring .card-header{
	font-size: 1.5rem !important;
	background-color: #dcd427 !important;
}


 #skillsacquiring .card-body {
	background-color: #dcd427 !important;
	height: 25vh;
}

#skillsacquired .card-header{
	font-size: 1.5rem !important;
	background-color: #00ab66 !important;
}


 #skillsacquired .card-body {
	background-color: #00ab66 !important;
	height: 25vh;
}

#tobeacquired .card-header{
	font-size: 1.5rem !important;
	background-color: #0092cc !important;
}


 #tobeacquired .card-body {
	background-color: #0092cc !important;
	height: 25vh;
}

#cardttext {
	padding: 0;
	margin: 0;

}

.openquote, .closequote {
	font-weight: bolder;
}

#skillsquote span {
	font-style: italic !important;
}



#letstalk {
	height: 100vh;
	padding-top: 1.25rem !important;
	margin: 0 !important;
}

#emailme input {
	border-bottom: 3px solid red !important;
	border: 0;
	border-radius: 0 !important;
	background-color: #f7f7f7 !important;
}

#emailmemessage {
	height: 20vh !important;
  	overflow-wrap: break-word !important;
  	hyphens: auto !important;
  	border-bottom: 3px solid red !important;
	border: 0;
	border-radius: 0 !important;
	background-color: #f7f7f7 !important;
}

footer {
	position: relative;
	max-width: 94vw;
	padding: 0;
	margin: 0;
}

#footerimage {
	display: block;
	width: 100%;
	height: 25vh;
}


#footeroverlay {
	position: absolute;
	top: 0;
	color: #f1f1f1;
	width: auto;
	height: 80%;
	transition: .5s ease;
}


/*mobile style*/
/*@media only screen and (max-width:400px){
section {
background-color: blue;
}
}*/

/*tablet style*/
/*@media only screen and (min-width: 401px) and (max-width: 960px){
section {
background-color: red;
}
}*/

/*desktop style*/
/*@media only screen and (min-width: 961px) {
section {
background-color: yellow;
}
}*/